Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml, pipelines/storage-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
  pipelines/storage-ci.yml: any of: azure-lab/storage

Packer Validate Template debug added
  pipelines/packer/templates/template-packer-validate.yml
Due: none

##[error]Bash exited with code '127'.
  pipelines/packer/templates/template-packer-validate.yml
Due: none

Test
  pipelines/packer/templates/template-packer-validate.yml
Due: none

Test 2
  pipelines/packer/templates/template-packer-validate.yml
Due: none

Test 3
  pipelines/packer/templates/template-packer-validate.yml
Due: none

Removing Dir Cleanup step for Troubleshooint sysprep
  pipelines/packer/templates/template-packer-cd.yml
  pipelines/packer/templates/template-packer-validate.yml
Due: none

cd ${{ parameters.workingDirectory }}
  pipelines/packer/templates/template-packer-validate.yml
Due: none

Adding Build to 2025 base CD
  pipelines/packer/templates/template-packer-cd.yml
  pipelines/packer/windows-2025-base-cd.yml
Due: none

Setting Image Definition to name = "windows-2025-base"
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Deploying test vm with new image
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

azurerm_shared_image.windows_2025_base
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

wrong module source
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Server Build Success
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Updated README.md
  README.md
Due: none

Changing Packer Layout
  azure-lab/image-bakery/windows/web.pkr.hcl
  azure-lab/image-bakery/windows/win2025-base.pkr.hcl
  pipelines/packer/templates/template-packer-cd.yml
  pipelines/packer/templates/template-packer-validate.yml
  pipelines/packer/windows-2025-base-cd.yml
  pipelines/packer/windows-2025-base-ci.yml
Due: none

Windows 2025 Core Pipeline setup
  azure-lab/devops/main.tf
  azure-lab/image-bakery/windows/variables/windows-2025-core.pkrvars.hcl
  azure-lab/image-bakery/windows/win2025-core.pkr.hcl
  pipelines/packer/windows-2025-core-cd.yml
  pipelines/packer/windows-2025-core-ci.yml
Due: pipelines/devops-ci.yml

Adding windows_2025_core shared image
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Testing Core image
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Removing VM.
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Adding docs
  README.md
  docs/AI Ops.md
  docs/Architecture Overview.md
  docs/Furure-Proofing Infrastructure for AI with Azure + Terraform.md
  docs/Terraform-Sandbox Overview.md
  docs/VS Code Workflow Setup.md
Due: none

Updating to Core
  azure-lab/image-bakery/windows/variables/windows-2025-core.pkrvars.hcl
  docs/Azure Landing Zone Networking with Terraform.md
Due: none

Test VM with Core
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Deployment Success. Deleting VM
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Starting DC Module
  modules/azurerm/compute/vm/README.md
  modules/azurerm/compute/vm/windows/base/dsc/CreateDC.ps1
  modules/azurerm/compute/vm/windows/base/main.tf
  modules/azurerm/compute/vm/windows/base/outputs.tf
  modules/azurerm/compute/vm/windows/base/provider.tf
  modules/azurerm/compute/vm/windows/base/scripts/Configure-DSC.ps1
  modules/azurerm/compute/vm/windows/base/scripts/FormatDisks.ps1
  modules/azurerm/compute/vm/windows/base/scripts/Post-Config.ps1
  modules/azurerm/compute/vm/windows/base/scripts/Pre-Config.ps1
  modules/azurerm/compute/vm/windows/base/scripts/custom_data.ps1
  modules/azurerm/compute/vm/windows/base/variables.tf
  modules/azurerm/compute/vm/windows/dc/dsc/CreateDC.ps1
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/outputs.tf
  modules/azurerm/compute/vm/windows/dc/provider.tf
  modules/azurerm/compute/vm/windows/dc/scripts/DSC-Configuration.ps1
  modules/azurerm/compute/vm/windows/dc/scripts/LCM-Configuration.ps1
  modules/azurerm/compute/vm/windows/dc/scripts/custom_data.ps1
  modules/azurerm/compute/vm/windows/dc/variables.tf
  modules/azurerm/compute/vm/windowsnew/dsc/DSC-Configuration.ps1
  modules/azurerm/compute/vm/windowsnew/dsc/JoinDomain.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/Configure-DSC.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/FormatDisks.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/Post-Config.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/Pre-Config.ps1
  modules/azurerm/compute/vmss/README.md
Due: none

Testing Cross-platform Cleanup Step
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/base/dsc/CreateDC.ps1
  modules/azurerm/compute/vm/windows/dc/dsc/CreateDC.ps1
  pipelines/templates/template-terraform-plan.yml
Due: pipelines/compute-ci.yml

Cross-platform Cleanup works. Adding to CD Pipeline
  pipelines/templates/template-terraform-cd.yml
Due: none

Cross Platform Pipeline changes.
  pipelines/templates/template-terraform-cd.yml
  pipelines/templates/template-terraform-plan.yml
Due: none

Test DC Build
  azure-lab/compute/env/lab.tfvars
  azure-lab/compute/main.tf
  azure-lab/compute/variables.tf
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/DSC-Configuration.ps1
  modules/azurerm/compute/vm/windows/dc/variables.tf
Due: pipelines/compute-ci.yml

Error: Invalid quoted type constraints
  azure-lab/compute/variables.tf
  modules/azurerm/compute/vm/windows/dc/variables.tf
Due: pipelines/compute-ci.yml

Update DC
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

image_name = azurerm_shared_image.windows_2025_core.name
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Updating DC module
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/FormatDisks.ps1
Due: none

Updates to DC Module
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/custom_data.ps1
Due: none

adding debug to custom data
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/custom_data.ps1
Due: none

Remove DC
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/custom_data.ps1
Due: pipelines/compute-ci.yml

Testing DC deployment
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Trying without subfolder
  modules/azurerm/compute/vm/windows/dc/scripts/custom_data.ps1
Due: none

Test
  modules/azurerm/compute/vm/windows/dc/scripts/custom_data.ps1
Due: none

Adding Custom Data Runner to Packer Image
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/scripts/CustomDataRunner.ps1
  azure-lab/image-bakery/windows/scripts/Enable-CustomDataSupport.ps1
  azure-lab/image-bakery/windows/scripts/base.ps1
  azure-lab/image-bakery/windows/scripts/buildagent.ps1
  azure-lab/image-bakery/windows/scripts/common.ps1
  azure-lab/image-bakery/windows/scripts/web.ps1
  azure-lab/image-bakery/windows/win2025-core.pkr.hcl
  pipelines/packer/templates/template-packer-cd.yml
Due: pipelines/compute-ci.yml

Packer Cross Platform Pipeline Updates
  pipelines/packer/templates/template-packer-cd.yml
  pipelines/packer/templates/template-packer-validate.yml
Due: none
