Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/application/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/image-bakery/windows-2025-base-ci.yml, pipelines/infrastructure/database-ci.yml, pipelines/infrastructure/devops-ci.yml, pipelines/infrastructure/networking-ci.yml, pipelines/infrastructure/security-ci.yml, pipelines/networking-ci.yml, pipelines/packer/windows-2025-core-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml, pipelines/storage-ci.yml, pipelines/twingate-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/application/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/image-bakery/windows-2025-base-ci.yml: any of: azure-lab/image-bakery/windows/win2025-base.pkr.hcl
  pipelines/infrastructure/database-ci.yml: any of: azure/database
  pipelines/infrastructure/devops-ci.yml: any of: azure/devops
  pipelines/infrastructure/networking-ci.yml: any of: azure/networking
  pipelines/infrastructure/security-ci.yml: any of: azure/security
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/packer/windows-2025-core-ci.yml: any of: azure-lab/image-bakery/windows/win2025-core.pkr.hcl
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
  pipelines/storage-ci.yml: any of: azure-lab/storage
  pipelines/twingate-ci.yml: any of: apps/twingate

adding snet-storage-private to management spoke vnet
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

tfstate sa added to management spoke vnet
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

Plan to move tfstate to lzp1. For now peering setup between lpz1 and management subs
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Updating Documentation
  README.md
  docs/AI_Ops.md
  docs/Architecture_Overview.md
  docs/Azure_Landing_Zone_Networking_with_Terraform.md
  docs/Furure-Proofing_Infrastructure_for_AI_with_Azure_+_Terraform.md
  docs/Terraform-Sandbox_Overview.md
  docs/Terraform_MCP_Workflow.md
  docs/VS_Code_Workflow_Setup.md
Due: none

Path testing.
  README.md
Due: none

Paths updated
  README.md
Due: none

updated references.
  docs/Architecture_Overview.md
  docs/Azure_Landing_Zone_Networking_with_Terraform.md
Due: none

MDP
  docs/Architecture_Overview.md
Due: none

Adding Claude Code
  .gitignore
  CLAUDE.md
  NOTES.md
  TASKS.md
Due: none

changes
  CLAUDE.md
  NOTES.md
  TASKS.md
Due: none

Legacy Project Cleanup
  azure/datafactory/main.tf
  azure/storage/main.tf
Due: none

Legacy Project Cleanup
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

More Cleanup
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

ADF Synapse ADLS prep
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Removed Subnet Delagation for ADF
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

datahub started
  apps/datahub/env/lab.tfvars
  apps/datahub/main.tf
  apps/datahub/provider.tf
  apps/datahub/variables.tf
Due: none

Added PEs for ADF and Synapse
  apps/datahub/main.tf
Due: none

Setting up datahub pipeline
  apps/datahub/env/lab.tfvars
  azure/devops/main.tf
  azure/security/env/lab.tfvars
  azure/security/main.tf
  azure/security/variables.tf
Due: pipelines/infrastructure/devops-ci.yml, pipelines/infrastructure/security-ci.yml

Adding DataHub Pipelines
  README.md
  apps/datahub/main.tf
  azure/devops/main.tf
  pipelines/application/datahub-cd.yml
  pipelines/application/datahub-ci.yml
Due: pipelines/infrastructure/devops-ci.yml

Updating snet-compute to support Storage
  apps/datahub/main.tf
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

data.azurerm_subnet.snet_compute.id,
  apps/datahub/main.tf
Due: none

module "datahub_sp_role_assignment" { source = "../../modules/azurerm/security/role-assignment" role_scope = data.azurerm_management_group.mg.id role_name = "Contributor"
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

Subnet Consolidation
  apps/datahub/main.tf
Due: none

Subnet Cleanup
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

DataHub recreated to use snet-data
  apps/datahub/main.tf
Due: none

DataHub pipeline status added to readme
  README.md
Due: none

Add ADF and Synapse linked services for ADLS Gen2 connectivity
  apps/datahub/CLAUDE.md
  apps/datahub/main.tf
Due: none

Shared Memory Framework testing
  .gitignore
  CLAUDE.md
  CLINE.md
  apps/datahub/CLAUDE.md
  apps/datahub/CLINE.md
  azure/networking/CLAUDE.md
  azure/networking/CLINE.md
Due: pipelines/infrastructure/networking-ci.yml

Add Shared Memory Framework documentation and Codex integration
  .gitignore
  CODEX.md
  README.md
  docs/Shared_Memory_Framework.md
Due: none

Enhance SMF with time-aware conversation continuity and add Git workflow
  .gitignore
  CLAUDE.md
  CLINE.md
  CODEX.md
  apps/datahub/CLAUDE.md
  apps/datahub/CLINE.md
  azure/networking/CLAUDE.md
  azure/networking/CLINE.md
  docs/Shared_Memory_Framework.md
  tools/mcp/README.md
  tools/mcp/manage-mcp.py
  tools/mcp/obsidian/README.md
  tools/mcp/obsidian/adapters/ai_integration_guides.md
  tools/mcp/obsidian/adapters/universal_client.py
  tools/mcp/obsidian/adapters/vscode_integration.md
  tools/mcp/obsidian/configure.py
  tools/mcp/obsidian/server/api_docs.md
  tools/mcp/obsidian/server/app.py
  tools/mcp/obsidian/server/config.json
  tools/mcp/obsidian/server/requirements.txt
  tools/mcp/obsidian/start-server.py
  tools/mcp/obsidian/stop-server.py
  tools/mcp/smf.py
Due: pipelines/infrastructure/networking-ci.yml

Update MCP and Obsidian READMEs with time-aware conversation features
  tools/mcp/README.md
  tools/mcp/obsidian/README.md
Due: none

codex added
  .gitignore
  CODEX.md
Due: none

SMF Updates
  .gitignore
  COPILOT.md
  tools/mcp/README.md
  tools/mcp/manage-mcp.py
  tools/mcp/obsidian/adapters/universal_client.py
  tools/mcp/obsidian/server/app.py
  tools/mcp/smf.py
Due: none

Adding Vault to vnet
  CODEX.md
  COPILOT.md
  azure/networking/main.tf
  docs/Shared_Memory_Framework.md
  tools/mcp/README.md
  tools/mcp/manage-mcp.py
  tools/mcp/obsidian/adapters/universal_client.py
  tools/mcp/obsidian/server/app.py
  tools/mcp/smf.py
Due: pipelines/infrastructure/networking-ci.yml

Vault Hardening
  apps/datahub/env/lab.tfvars
  apps/datahub/main.tf
  apps/datahub/provider.tf
  apps/datahub/variables.tf
  azure/compute/main.tf
  azure/database/env/lab.tfvars
  azure/database/main.tf
  azure/database/provider.tf
  azure/database/variables.tf
  azure/networking/main.tf
  azure/security/main.tf
  azure/storage/env/lab.tfvars
  azure/storage/main.tf
  azure/storage/variables.tf
  modules/azurerm/security/vault/main.tf
  modules/azurerm/security/vault/variables.tf
Due: pipelines/infrastructure/database-ci.yml, pipelines/infrastructure/networking-ci.yml, pipelines/infrastructure/security-ci.yml

granting database-sc permission to mg
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

Security elevated to owner
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

Update ADLS linked services to use managed identity authentication
  apps/datahub/main.tf
Due: none

Add User Access Administrator role to DataHub SP at RG level
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

Fix Synapse linked service to use managed identity with correct format
  apps/datahub/main.tf
Due: none
