Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/application/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/image-bakery/windows-2025-base-ci.yml, pipelines/infrastructure/database-ci.yml, pipelines/infrastructure/devops-ci.yml, pipelines/infrastructure/networking-ci.yml, pipelines/infrastructure/security-ci.yml, pipelines/networking-ci.yml, pipelines/packer/windows-2025-core-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml, pipelines/storage-ci.yml, pipelines/twingate-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/application/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/image-bakery/windows-2025-base-ci.yml: any of: azure-lab/image-bakery/windows/win2025-base.pkr.hcl
  pipelines/infrastructure/database-ci.yml: any of: azure/database
  pipelines/infrastructure/devops-ci.yml: any of: azure/devops
  pipelines/infrastructure/networking-ci.yml: any of: azure/networking
  pipelines/infrastructure/security-ci.yml: any of: azure/security
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/packer/windows-2025-core-ci.yml: any of: azure-lab/image-bakery/windows/win2025-core.pkr.hcl
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
  pipelines/storage-ci.yml: any of: azure-lab/storage
  pipelines/twingate-ci.yml: any of: apps/twingate

Refactor Complete
  README.md
Due: none

starting glassforge
  apps/glassforge/README.md
Due: none

Updated Table of contents to use azure vs azure-lab
  README.md
Due: none

Print Architecture planning.
  azure/print/README.md
Due: none

Terraform MCP workflow start
  README.md
  docs/Terraform MCP Workflow.md
Due: none

Updated Documentation
  README.md
Due: none

Starting Databricks
  azure/databricks/env/lab.tfvars
  azure/databricks/main.tf
  azure/databricks/outputs.tf
  azure/databricks/provider.tf
  azure/databricks/variables.tf
Due: none

Adding scraper for lotr data
  apps/scraper-lotr/env/lab.tfvars
  apps/scraper-lotr/main.tf
  apps/scraper-lotr/outputs.tf
  apps/scraper-lotr/provider.tf
  azure/storage/main.tf
Due: none

storage_account_name = azurerm_storage_account.lotr.name
  azure/storage/main.tf
Due: none

Forgot Provider block
  azure/storage/main.tf
Due: none

lotr example data
  apps/scraper-lotr/scripts/characters.py
  apps/scraper-lotr/scripts/events.py
  apps/scraper-lotr/scripts/locations.py
Due: none

Starting Datafactory before Databricks
  apps/glassforge/README.md
  azure/datafactory/env/lab.tfvars
  azure/datafactory/main.tf
  azure/datafactory/outputs.tf
  azure/datafactory/provider.tf
  azure/datafactory/variables.tf
  azure/storage/env/lab.tfvars
  azure/storage/main.tf
Due: none

Moving datafactory sa to datafactory rg
  azure/datafactory/main.tf
  azure/datafactory/variables.tf
  azure/storage/main.tf
Due: none

depends_on = [azurerm_storage_account.datafactory]
  azure/storage/main.tf
Due: none

Starting MDP
  apps/mdp/README.md
  apps/mdp/env/lab.tfvars
  apps/mdp/main.tf
  apps/mdp/provider.tf
  apps/mdp/variables.tf
Due: none

MDP scaffolding added
  apps/mdp/ci-cd/pipeline.yml
  apps/mdp/dashboards/powerbi_tolkien.pbix
  apps/mdp/etl/bronze/load_raw_data.py
  apps/mdp/etl/gold/aggregate_data.py
  apps/mdp/etl/silver/clean_data.py
  apps/mdp/ingestion/scraper/scrape_characters.py
  apps/mdp/ingestion/scraper/scrape_events.py
  apps/mdp/ingestion/scraper/scrape_locations.py
  apps/mdp/main.tf
  apps/mdp/ml/train_model.py
  apps/mdp/notebooks/explore_data.ipynb
  apps/mdp/notebooks/scrape_tolkien_data.ipynb
  apps/mdp/provider.tf
  apps/mdp/tests/test_scraper.py
  apps/mdp/variables.tf
Due: none

Notebooks publishing data to Data Factory storage account
  apps/mdp/notebooks/scrape_tolkien_characters.ipynb
  apps/mdp/notebooks/scrape_tolkien_data.ipynb
  apps/mdp/notebooks/scrape_tolkien_events.ipynb
  apps/mdp/notebooks/scrape_tolkien_locations.ipynb
  azure/datafactory/main.tf
Due: none

Datafactory Networking
  apps/mdp-adf/README.md
  apps/mdp-adf/ci-cd/pipeline.yml
  apps/mdp-adf/dashboards/powerbi_tolkien.pbix
  apps/mdp-adf/env/lab.tfvars
  apps/mdp-adf/etl/bronze/load_raw_data.py
  apps/mdp-adf/etl/gold/aggregate_data.py
  apps/mdp-adf/etl/silver/clean_data.py
  apps/mdp-adf/ingestion/scraper/scrape_characters.py
  apps/mdp-adf/ingestion/scraper/scrape_events.py
  apps/mdp-adf/ingestion/scraper/scrape_locations.py
  apps/mdp-adf/main.tf
  apps/mdp-adf/ml/train_model.py
  apps/mdp-adf/notebooks/explore_data.ipynb
  apps/mdp-adf/notebooks/scrape_tolkien_characters.ipynb
  apps/mdp-adf/notebooks/scrape_tolkien_events.ipynb
  apps/mdp-adf/notebooks/scrape_tolkien_locations.ipynb
  apps/mdp-adf/provider.tf
  apps/mdp-adf/tests/test_scraper.py
  apps/mdp-adf/variables.tf
  azure/datafactory/main.tf
  azure/fabric/README.md
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Fixed snet-adf-integration to use a valid delegation (Microsoft.ManagedIdentity/userAssignedIdentities).
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

delegation_service = "Microsoft.DataFactory/factories"
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Updated vNet Module to Support Private Endpoints
  azure/networking/main.tf
  modules/azurerm/network/vnet/main.tf
  modules/azurerm/network/vnet/variables.tf
Due: pipelines/infrastructure/networking-ci.yml

Updated readme
  README.md
Due: none

Moving SAs to subnet
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Adding new subnet to Storage via data call
  azure/storage/main.tf
Due: none

Setting up Private Endpoint for lotr sa
  azure/storage/main.tf
Due: none

service_endpoints = ["Microsoft.Storage"]
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

forgot s in snet
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

address_prefixes = ["10.40.20.0/24"]
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Updated vnet module to support service_endpoints
  modules/azurerm/network/vnet/main.tf
  modules/azurerm/network/vnet/outputs.tf
  modules/azurerm/network/vnet/variables.tf
Due: none

Added Private DNS zone for blob storage and link to lzp1 VNet for private endpoint resolution.
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

configured to bind to the privatelink.blob.core.windows.net private DNS zone
  azure/storage/env/lab.tfvars
  azure/storage/main.tf
  azure/storage/provider.tf
  azure/storage/variables.tf
Due: none

private_dns_zone_group { name = "default" private_dns_zone_ids = [data.azurerm_private_dns_zone.blob.id] }
  azure/storage/main.tf
Due: none

Redeploy pe
  azure/storage/main.tf
Due: none

Granting Storage SP access to Connectivity Sub
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

fixed sp id for storage role assignment
  azure/security/main.tf
Due: pipelines/infrastructure/security-ci.yml

Storage SP test confirmation to connectivity sub
  azure/storage/main.tf
Due: none

Adding Internal DNS
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Adding Alias for lotrstore
  azure/networking/main.tf
Due: pipelines/infrastructure/networking-ci.yml

Updating twingate to support internal dns
  apps/twingate/main.tf
  modules/twingate/network/main.tf
  modules/twingate/network/variables.tf
Due: pipelines/twingate-ci.yml

Removed dns
  apps/twingate/main.tf
  modules/twingate/network/main.tf
Due: pipelines/twingate-ci.yml
