Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/packer/windows-2025-core-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml, pipelines/storage-ci.yml

pipelines/app-multi-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-app-ci.yml
    parameters:
      artifactName: appmulti-artifacts
      team: appmulti
      agentPool: Lab

pipelines/app-single-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: appsingle-artifacts
      team: appsingle
      agentPool: Lab

pipelines/compute-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: compute-artifacts
      team: compute
      agentPool: Lab

pipelines/database-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: database-artifacts
      team: database
      agentPool: Lab

pipelines/devops-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: devops-artifacts
      team: devops
      agentPool: Lab

pipelines/networking-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: networking-artifacts
      team: networking
      agentPool: Lab

pipelines/packer/windows-2025-core-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-packer-ci.yml
    parameters:
      artifactName: windows-2025-core-artifacts
      imageName: windows-2025-core
      agentPool: Lab

pipelines/poc-ci.yml:
  name: POC-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/poc2-ci.yml:
  name: POC2-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/security-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: security-artifacts
      team: security
      agentPool: Lab

pipelines/storage-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: storage-artifacts
      team: storage
      agentPool: Lab

DC Redeploy
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

mismatched curly brace (})
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/PreConfig.ps1
Due: pipelines/compute-ci.yml

Checking if base64 password helps with password syntax issues
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/PreConfig.ps1
Due: none

Revert
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/PreConfig.ps1
Due: pipelines/compute-ci.yml

DC Redeploy 2
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/PreConfig.ps1
Due: pipelines/compute-ci.yml

DC Redeploy 3
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/dc/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/PreConfig.ps1
Due: pipelines/compute-ci.yml

Updating 2025 Base image to include CustomData
  azure-lab/image-bakery/windows/win2025-base.pkr.hcl
Due: none

Building DC with Base OS vs Core
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Testing DNS inside vnet module
  azure-lab/networking/main.tf
  modules/azurerm/network/vnet/main.tf
  modules/azurerm/network/vnet/variables.tf
  pipelines/compute-cd.yml
Due: pipelines/networking-ci.yml

Testing Service Principal scoped to Management Group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Test Successful. Starting to setup Service Principals to Management groups
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Test updaet to MG scope
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Remove / Readd
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Readding Storage SP scoped to Management Group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Removing DC for now.
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Updating Base Image to ignore Custom Data lifecycle changes
  modules/azurerm/compute/vm/windows/base/main.tf
Due: none

New Service Principal
  azure-lab/security/main.tf
  azure-lab/security/provider.tf
  modules/azuread/service-principle/main.tf
  modules/azuread/service-principle/outputs.tf
  modules/azuread/service-principle/variables.tf
Due: pipelines/security-ci.yml

Testing Scoped SP
  azure-lab/security/main.tf
  modules/azuread/service-principle/outputs.tf
Due: pipelines/security-ci.yml

Pipeline updates to support multiple subscriptions
  pipelines/templates/template-terraform-cd-debug.yml
  pipelines/templates/template-terraform-cd.yml
  pipelines/templates/template-terraform-plan.yml
Due: none

Pipeline test
  pipelines/templates/template-terraform-cd-debug.yml
  pipelines/templates/template-terraform-cd.yml
  pipelines/templates/template-terraform-plan.yml
Due: none

Pipeline Test
  azure-lab/security/main.tf
  pipelines/templates/template-terraform-cd-debug.yml
  pipelines/templates/template-terraform-cd.yml
  pipelines/templates/template-terraform-plan.yml
Due: pipelines/security-ci.yml

Pipeline Test
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

test in another environment with new SP
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

duplicate reference
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Moved SP Creation to Security Workflow
  azure-lab/devops/main.tf
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/devops-ci.yml, pipelines/security-ci.yml

Provider updated to support new SP
  azure-lab/security/main.tf
  azure-lab/security/provider.tf
Due: pipelines/security-ci.yml

Peering Setup
  azure-lab/devops/main.tf
  azure-lab/networking/main.tf
  azure-lab/networking/provider.tf
  azure-lab/networking/variables.tf
  modules/azurerm/network/peering/main.tf
  modules/azurerm/network/peering/outputs.tf
  modules/azurerm/network/peering/provider.tf
  modules/azurerm/network/peering/variables.tf
Due: pipelines/devops-ci.yml, pipelines/networking-ci.yml

connectivity_subscription_id = "__connectivitysubscriptionid__"
  azure-lab/networking/env/lab.tfvars
Due: pipelines/networking-ci.yml

Adding Twingate Pipeline
  apps/twingate/env/lab.tfvars
  apps/twingate/main.tf
  apps/twingate/outputs.tf
  apps/twingate/provider.tf
  apps/twingate/variables.tf
  azure-lab/compute/main.tf
  azure-lab/devops/main.tf
  azure-lab/networking/main.tf
  pipelines/twingate-cd.yml
  pipelines/twingate-ci.yml
Due: pipelines/compute-ci.yml, pipelines/devops-ci.yml, pipelines/networking-ci.yml

peering added to mgmt vnet
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

added dns
  azure-lab/networking/main.tf
  modules/azurerm/network/dns/provider.tf
Due: pipelines/networking-ci.yml

Added Identity vNet
  azure-lab/networking/env/lab.tfvars
  azure-lab/networking/main.tf
  azure-lab/networking/provider.tf
  azure-lab/networking/variables.tf
Due: pipelines/networking-ci.yml

readme updates
  README.md
  azure-lab/image-bakery/README.md
Due: none

readme updates
  README.md
Due: none

dc test
  apps/statemind/main.tf
  apps/statemind/outputs.tf
  apps/statemind/provider.tf
  apps/statemind/variables.tf
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Adding RSAT tools to DC
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/dc/scripts/DSC-Configuration.ps1
Due: pipelines/compute-ci.yml

Removing DC
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Deploying DC
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

DC Removal
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/packer/windows-2025-core-ci.yml: any of: azure-lab/image-bakery/windows/win2025-core.pkr.hcl
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
  pipelines/storage-ci.yml: any of: azure-lab/storage
