Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml

pipelines/app-multi-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: appmulti-artifacts
      team: appmulti
      agentPool: Lab

pipelines/app-single-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: appsingle-artifacts
      team: appsingle
      agentPool: Lab

pipelines/compute-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: compute-artifacts
      team: compute
      agentPool: Lab

pipelines/database-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: database-artifacts
      team: database
      agentPool: Lab

pipelines/devops-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: devops-artifacts
      team: devops
      agentPool: Lab

pipelines/networking-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: networking-artifacts
      team: networking
      agentPool: Lab

pipelines/poc-ci.yml:
  name: POC-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/poc2-ci.yml:
  name: POC2-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/security-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: security-artifacts
      team: security
      agentPool: Lab

Prep for Application Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding Application Vault and Application DevOps SP access
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/security-ci.yml

applicationobjectid vs applicationspobjectid
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding Application SP Vault access
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding Application Vault name to DevOp Vault
  azure-lab/devops/env/lab.tfvars
  azure-lab/devops/main.tf
  azure-lab/devops/variables.tf
Due: pipelines/devops-ci.yml

Adding Application Variable Group to Application Project
  apps/appsingle/env/lab.tfvars
  apps/appsingle/main.tf
  apps/appsingle/variables.tf
  azure-lab/devops/main.tf
Due: pipelines/app-single-ci.yml, pipelines/devops-ci.yml

Adding AppSingle-CI
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Wrong pipeline file
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Fixing path for Application Workflow. Adding AppMulti CI
  apps/appmulti/main.tf
  azure-lab/devops/main.tf
  pipelines/app-multi-ci.yml
  pipelines/app-single-ci.yml
  pipelines/templates/template-terraform-app-ci.yml
Due: pipelines/app-multi-ci.yml, pipelines/devops-ci.yml

Adding AppSingle CD
  apps/appmulti/main.tf
  apps/appsingle/main.tf
  azure-lab/devops/main.tf
  pipelines/app-single-cd.yml
Due: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/devops-ci.yml

Pipeline tweak
  pipelines/app-multi-cd.yml
  pipelines/app-single-cd.yml
Due: none

More tweaks
  pipelines/app-multi-cd.yml
  pipelines/app-single-cd.yml
Due: none

Adding AppMulti CD
  azure-lab/devops/main.tf
  pipelines/app-single-cd.yml
Due: pipelines/devops-ci.yml

AppMulti CD changes
  pipelines/app-multi-cd.yml
Due: none

AppMulti CD Changes again
  pipelines/app-multi-cd.yml
Due: none

More pipeline tweaks
  pipelines/app-multi-cd.yml
Due: none

Added Dependson to Template
  pipelines/app-multi-cd.yml
  pipelines/templates/template-terraform-plannew.yml
Due: none

variableGroup: "Application"
  pipelines/app-multi-cd.yml
Due: none

Cleanup Working Directory after execution
  apps/appmulti/main.tf
  pipelines/templates/template-terraform-plannew.yml
Due: pipelines/app-multi-ci.yml

Cleaning working Directory again
  pipelines/templates/template-terraform-plannew.yml
Due: none

Trying with apply now
  pipelines/app-multi-cd.yml
  pipelines/templates/template-terraform-cdnew.yml
Due: none

Testing on single stage pipeline
  pipelines/app-single-cd.yml
Due: none

pipelines updated to use new template
  pipelines/app-multi-cd.yml
  pipelines/app-single-cd.yml
  pipelines/compute-cd.yml
  pipelines/database-cd.yml
  pipelines/devops-cd.yml
  pipelines/networking-cd.yml
  pipelines/security-cd.yml
  pipelines/templates/template-terraform-cd.yml
  pipelines/templates/template-terraform-cdold.yml
  pipelines/templates/template-terraform-plan.yml
  pipelines/templates/template-terraform-planold.yml
Due: none

removing noise from compute
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Fixing AppMulti Deployment
  apps/appmulti/main.tf
Due: pipelines/app-multi-ci.yml

Subnet Changes
  azure-lab/networking/main.tf
  pipelines/app-multi-cd.yml
  pipelines/archive/poc-cd.yml
  pipelines/archive/poc-ci.yml
  pipelines/archive/poc-windows-cd.yml
  pipelines/archive/poc2-cd.yml
  pipelines/archive/poc2-ci.yml
  pipelines/archive/poc2-windows-cd.yml
  pipelines/archive/template-terraform-cdold.yml
  pipelines/archive/template-terraform-planold.yml
Due: pipelines/networking-ci.yml

Creating Storage Project
  azure-lab/devops/main.tf
  azure-lab/storage/env/lab.tfvars
  azure-lab/storage/main.tf
  azure-lab/storage/outputs.tf
  azure-lab/storage/provider.tf
  azure-lab/storage/variables.tf
Due: pipelines/devops-ci.yml

Prep for Compute Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Forgot variable
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/security-ci.yml

Adding Storage Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Forgot to add "storagespobjectid",
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

granting storage ado sp vault access
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

adding storage vault to project variable group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding Storage Variable Group
  azure-lab/devops/env/lab.tfvars
  azure-lab/devops/main.tf
  azure-lab/devops/variables.tf
  azure-lab/storage/env/lab.tfvars
  azure-lab/storage/main.tf
  azure-lab/storage/variables.tf
Due: pipelines/devops-ci.yml

Adding Storage ci
  azure-lab/devops/main.tf
  azure-lab/storage/main.tf
  pipelines/storage-cd.yml
  pipelines/storage-ci.yml
Due: pipelines/devops-ci.yml

Adding Storage CD
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Starting Packer Image Bakery
  azure-lab/image-bakery/README.md
  azure-lab/image-bakery/windows/2019/base/main.tf
  azure-lab/image-bakery/windows/2019/base/outputs.tf
  azure-lab/image-bakery/windows/2019/base/packer.pkr.hcl
  azure-lab/image-bakery/windows/2019/base/provider.tf
  azure-lab/image-bakery/windows/2019/base/variables.tf
  azure-lab/image-bakery/windows/2019/web/main.tf
  azure-lab/image-bakery/windows/2019/web/outputs.tf
  azure-lab/image-bakery/windows/2019/web/packer.pkr.hcl
  azure-lab/image-bakery/windows/2019/web/provider.tf
  azure-lab/image-bakery/windows/2019/web/variables.tf
  azure-lab/image-bakery/windows/2022/base/main.tf
  azure-lab/image-bakery/windows/2022/base/outputs.tf
  azure-lab/image-bakery/windows/2022/base/packer.pkr.hcl
  azure-lab/image-bakery/windows/2022/base/provider.tf
  azure-lab/image-bakery/windows/2022/base/variables.tf
  azure-lab/image-bakery/windows/2022/web/main.tf
  azure-lab/image-bakery/windows/2022/web/outputs.tf
  azure-lab/image-bakery/windows/2022/web/packer.pkr.hcl
  azure-lab/image-bakery/windows/2022/web/provider.tf
  azure-lab/image-bakery/windows/2022/web/variables.tf
  azure-lab/image-bakery/windows/2025/base/main.tf
  azure-lab/image-bakery/windows/2025/base/outputs.tf
  azure-lab/image-bakery/windows/2025/base/packer.pkr.hcl
  azure-lab/image-bakery/windows/2025/base/provider.tf
  azure-lab/image-bakery/windows/2025/base/variables.tf
  azure-lab/image-bakery/windows/2025/web/main.tf
  azure-lab/image-bakery/windows/2025/web/outputs.tf
  azure-lab/image-bakery/windows/2025/web/packer.pkr.hcl
  azure-lab/image-bakery/windows/2025/web/provider.tf
  azure-lab/image-bakery/windows/2025/web/variables.tf
Due: none

Updating Bakery Layout
  azure-lab/image-bakery/linux/centos-8/base.pkr.hcl
  azure-lab/image-bakery/linux/centos-8/scripts/base.sh
  azure-lab/image-bakery/linux/centos-8/scripts/buildagent.sh
  azure-lab/image-bakery/linux/centos-8/scripts/common.sh
  azure-lab/image-bakery/linux/centos-8/scripts/web.sh
  azure-lab/image-bakery/linux/centos-8/web.pkr.hcl
  azure-lab/image-bakery/linux/ubuntu-22.04/base.pkr.hcl
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/base.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/buildagent.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/common.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/web.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/web.pkr.hcl
  azure-lab/image-bakery/windows/2022/base.pkr.hcl
  azure-lab/image-bakery/windows/2022/scripts/base.ps1
  azure-lab/image-bakery/windows/2022/scripts/buildagent.ps1
  azure-lab/image-bakery/windows/2022/scripts/common.ps1
  azure-lab/image-bakery/windows/2022/scripts/web.ps1
  azure-lab/image-bakery/windows/2022/web.pkr.hcl
  azure-lab/image-bakery/windows/2025/base.pkr.hcl
  azure-lab/image-bakery/windows/2025/base/main.tf
  azure-lab/image-bakery/windows/2025/base/outputs.tf
  azure-lab/image-bakery/windows/2025/base/packer.pkr.hcl
  azure-lab/image-bakery/windows/2025/base/provider.tf
  azure-lab/image-bakery/windows/2025/base/variables.tf
  azure-lab/image-bakery/windows/2025/scripts/base.ps1
  azure-lab/image-bakery/windows/2025/scripts/buildagent.ps1
  azure-lab/image-bakery/windows/2025/scripts/common.ps1
  azure-lab/image-bakery/windows/2025/scripts/web.ps1
  azure-lab/image-bakery/windows/2025/web.pkr.hcl
  azure-lab/image-bakery/windows/2025/web/main.tf
  azure-lab/image-bakery/windows/2025/web/outputs.tf
  azure-lab/image-bakery/windows/2025/web/packer.pkr.hcl
  azure-lab/image-bakery/windows/2025/web/provider.tf
  azure-lab/image-bakery/windows/2025/web/variables.tf
Due: none

Adding Azure Compute Gallary
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/2025/base.pkr.hcl
Due: pipelines/compute-ci.yml

Forgot provider = azurerm.lab
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
