Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/packer/windows-2025-core-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml, pipelines/storage-ci.yml, pipelines/twingate-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/packer/windows-2025-core-ci.yml: any of: azure-lab/image-bakery/windows/win2025-core.pkr.hcl
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
  pipelines/storage-ci.yml: any of: azure-lab/storage
  pipelines/twingate-ci.yml: any of: apps/twingate

Adding Network Watcher to Identity | New ACI subnet for MGMT
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

DevOps Tweaks
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Refactor Start
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Forget terraform resource names cannot contain underscores
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

extra space :( " rg_compute_mgmt" to "rg_compute_mgmt"
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

dropping new build agent for moment need to future proof module to consume gallary in another subscription
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

networking mgmt refactor start
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

naming scheme updates
  azure-lab/compute/main.tf
  azure-lab/networking/main.tf
Due: pipelines/compute-ci.yml, pipelines/networking-ci.yml

Print Team added
  azure-lab/print/env/lab.tfvars
  azure-lab/print/main.tf
  azure-lab/print/provider.tf
  azure-lab/print/variables.tf
Due: none

readme added
  azure-lab/print/README.md
Due: none

networking changes to mgmt sub
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Twingate Refactor Start
  apps/twingate/main.tf
Due: pipelines/twingate-ci.yml

removing peering
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Deleting Pipelines for refactor.
  azure-lab/devops/main.tf
  azure-lab/networking/main.tf
Due: pipelines/devops-ci.yml, pipelines/networking-ci.yml

Sleepy. Refactor to continue tomorrow.
  azure/compute/main.tf
  azure/security/main.tf
  azure/security/provider.tf
  azure/security/variables.tf
Due: none

AI Ops Updates
  docs/AI Ops.md
Due: none

Refactor continues
  apps/blackglass/README.md
  azure/devops/main.tf
  azure/devops/provider.tf
  azure/devops/variables.tf
  azure/networking/main.tf
  azure/networking/provider.tf
  azure/networking/variables.tf
  azure/security/main.tf
  azure/security/provider.tf
  azure/security/variables.tf
  modules/azurerm/network/vnet-hub/main.tf
  modules/azurerm/network/vnet-hub/outputs.tf
  modules/azurerm/network/vnet-hub/variables.tf
  modules/azurerm/network/vnet/main.tf
  modules/azurerm/network/vnet/variables.tf
Due: none

More Refactoring
  apps/appsingle/main.tf
  apps/appsingle/provider.tf
  apps/appsingle/variables.tf
  azure/compute/main.tf
  azure/compute/provider.tf
  azure/compute/variables.tf
  azure/database/main.tf
  azure/database/provider.tf
  azure/database/variables.tf
  azure/security/main.tf
  azure/security/variables.tf
  azure/storage/main.tf
  azure/storage/provider.tf
  azure/storage/variables.tf
Due: pipelines/app-single-ci.yml

Lots of Changes
  apps/appmulti/env/dev.tfvars
  apps/appmulti/env/prod.tfvars
  apps/appmulti/env/test.tfvars
  apps/appmulti/main.tf
  apps/appmulti/provider.tf
  apps/appmulti/variables.tf
  apps/appsingle/main.tf
  apps/appsingle/provider.tf
  apps/appsingle/variables.tf
  apps/twingate/env/lab.tfvars
  apps/twingate/main.tf
  apps/twingate/provider.tf
  apps/twingate/variables.tf
  azure/compute/main.tf
  azure/compute/scripts/build_agent.ps1
  azure/networking/main.tf
  azure/security/env/lab.tfvars
  azure/security/main.tf
  azure/security/variables.tf
Due: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/twingate-ci.yml

Security Pipeline Test
  azure/security/main.tf
  pipelines/infrastructure/templates/template-terraform-ci.yml
Due: none

Security Pipeline added back after refactor
  README.md
Due: none

DevOps Pipeline Test
  azure/devops/env/lab.tfvars
  azure/devops/main.tf
Due: none

DevOps Pipeline Added back
  README.md
Due: none

Networking Pipeline prep
  azure/networking/env/lab.tfvars
  azure/networking/main.tf
  azure/networking/provider.tf
  azure/networking/variables.tf
Due: none

Networking Pipeline Added Back
  README.md
  azure/devops/main.tf
Due: none

Compute Pipeline Test
  azure/compute/env/lab.tfvars
  azure/compute/main.tf
  azure/compute/variables.tf
Due: none

compute_vault_name = "__vaultname__"
  azure/compute/env/lab.tfvars
  azure/devops/main.tf
Due: none

Computer Pipeline added back
  README.md
Due: none

README.md fix
  README.md
Due: none

Database Pipeline prep
  azure/database/env/lab.tfvars
  azure/database/main.tf
  azure/database/provider.tf
  azure/database/variables.tf
Due: none

Storage Pipeline Test
  README.md
  azure/devops/main.tf
  azure/storage/env/lab.tfvars
  azure/storage/main.tf
  azure/storage/provider.tf
  azure/storage/variables.tf
Due: none

AppSingle Pipeline Test
  README.md
  apps/appsingle/env/lab.tfvars
  apps/appsingle/main.tf
  azure/devops/main.tf
  pipelines/application/app-single-cd.yml
Due: pipelines/app-single-ci.yml

application pipeline path fix
  azure/devops/main.tf
Due: none

AppMulti Pipeline Prep
  README.md
  apps/appmulti/env/dev.tfvars
  apps/appmulti/env/prod.tfvars
  apps/appmulti/env/test.tfvars
  apps/appmulti/main.tf
  pipelines/application/app-multi-cd.yml
Due: pipelines/app-multi-ci.yml

Packer Pipeline tweaks
  azure/devops/main.tf
  pipelines/image-bakery/templates/template-packer-ci.yml
  pipelines/image-bakery/windows-2025-base-cd.yml
  pipelines/image-bakery/windows-2025-core-cd.yml
Due: none

SharedImageGallary
  azure/image-bakery/windows/variables/windows-2019-base.pkrvars.hcl
  azure/image-bakery/windows/variables/windows-2022-base.pkrvars.hcl
  azure/image-bakery/windows/variables/windows-2025-base.pkrvars.hcl
  azure/image-bakery/windows/variables/windows-2025-core.pkrvars.hcl
Due: none

resource_group = "rg-compute-lzp1"
  azure/image-bakery/windows/variables/windows-2019-base.pkrvars.hcl
  azure/image-bakery/windows/variables/windows-2022-base.pkrvars.hcl
  azure/image-bakery/windows/variables/windows-2025-base.pkrvars.hcl
  azure/image-bakery/windows/variables/windows-2025-core.pkrvars.hcl
Due: none

Twingate Pipeline
  apps/twingate/main.tf
  azure/devops/main.tf
  pipelines/application/templates/template-terraform-ci.yml
  pipelines/application/twingate-cd.yml
Due: pipelines/twingate-ci.yml

DevOps Pipeline added back
  README.md
  azure/devops/main.tf
Due: none
