Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/app-multi-ci.yml, pipelines/app-single-ci.yml, pipelines/compute-ci.yml, pipelines/database-ci.yml, pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml, pipelines/storage-ci.yml

pipelines/app-multi-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-app-ci.yml
    parameters:
      artifactName: appmulti-artifacts
      team: appmulti
      agentPool: Lab

pipelines/app-single-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: appsingle-artifacts
      team: appsingle
      agentPool: Lab

pipelines/compute-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: compute-artifacts
      team: compute
      agentPool: Lab

pipelines/database-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: database-artifacts
      team: database
      agentPool: Lab

pipelines/devops-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: devops-artifacts
      team: devops
      agentPool: Lab

pipelines/networking-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: networking-artifacts
      team: networking
      agentPool: Lab

pipelines/poc-ci.yml:
  name: POC-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/poc2-ci.yml:
  name: POC2-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/security-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: security-artifacts
      team: security
      agentPool: Lab

pipelines/storage-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: storage-artifacts
      team: storage
      agentPool: Lab

Updated README.md and adding VS Code Installation Workflow.
  README.md
  guides/VS Code Workflow Setup.md
Due: none

Adding ComputeGallery-Dev
  .gitignore
  azure-lab/compute/main.tf
  azure-lab/image-bakery/linux/README.md
  azure-lab/image-bakery/linux/centos-8/scripts/base.sh
  azure-lab/image-bakery/linux/centos-8/scripts/buildagent.sh
  azure-lab/image-bakery/linux/centos-8/scripts/common.sh
  azure-lab/image-bakery/linux/centos-8/scripts/web.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/base.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/buildagent.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/common.sh
  azure-lab/image-bakery/linux/ubuntu-22.04/scripts/web.sh
  azure-lab/image-bakery/windows/2022/base.pkr.hcl
  azure-lab/image-bakery/windows/2022/scripts/base.ps1
  azure-lab/image-bakery/windows/2022/scripts/buildagent.ps1
  azure-lab/image-bakery/windows/2022/scripts/common.ps1
  azure-lab/image-bakery/windows/2022/scripts/web.ps1
  azure-lab/image-bakery/windows/2022/web.pkr.hcl
  azure-lab/image-bakery/windows/2025/base.pkr.hcl
  azure-lab/image-bakery/windows/2025/scripts/base.ps1
  azure-lab/image-bakery/windows/2025/scripts/buildagent.ps1
  azure-lab/image-bakery/windows/2025/scripts/common.ps1
  azure-lab/image-bakery/windows/2025/scripts/web.ps1
  azure-lab/image-bakery/windows/2025/web.pkr.hcl
  azure-lab/image-bakery/windows/README.md
  azure-lab/image-bakery/windows/base.pkr.hcl
  azure-lab/image-bakery/windows/scripts/base.ps1
  azure-lab/image-bakery/windows/scripts/buildagent.ps1
  azure-lab/image-bakery/windows/scripts/common.ps1
  azure-lab/image-bakery/windows/scripts/web.ps1
  azure-lab/image-bakery/windows/variables/windows-2019.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2022.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2025.pkrvars.hcl
  azure-lab/image-bakery/windows/web.pkr.hcl
Due: pipelines/compute-ci.yml

Error: name can only contain alphanumeric, full stops and underscores. Got "ComputeGallery-Dev"
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/variables/windows-2019.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2022.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2025.pkrvars.hcl
Due: pipelines/compute-ci.yml

Creating Shared Image Definition for win2025-base
  .gitignore
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/base2.pkr.hcl
  azure-lab/image-bakery/windows/scripts/sysprep.ps1
  azure-lab/image-bakery/windows/variables/windows-2019.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2022.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2025.pkrvars.hcl
Due: pipelines/compute-ci.yml

provider = azurerm.lab
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

Switching to hyper_v_generation = "V1"
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/base.pkr.hcl
  azure-lab/image-bakery/windows/variables/windows-2019.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2022.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2025.pkrvars.hcl
Due: pipelines/compute-ci.yml

Temp removal of Shared Image Definition for win2025-base
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/base.pkr.hcl
  azure-lab/image-bakery/windows/base2.pkr.hcl
Due: pipelines/compute-ci.yml

hyper_v_generation = "V1"
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/base.pkr.hcl
Due: pipelines/compute-ci.yml

Testing plan stage
  apps/appsingle/main.tf
  pipelines/app-single-cd.yml
  pipelines/templates/template-terraform-cd.yml
  pipelines/templates/template-terraform-plan.yml
Due: pipelines/app-single-ci.yml

removed - from stage name
  pipelines/app-single-cd.yml
Due: none

dependsOn: [labplan]
  pipelines/app-single-cd.yml
Due: none

Pipeline tweaks
  apps/appsingle/main.tf
  pipelines/templates/template-terraform-cd.yml
Due: pipelines/app-single-ci.yml

more pipeline tweaks
  pipelines/app-single-cd.yml
Due: none

Testing another Pipeline
  pipelines/networking-cd.yml
Due: none

Adding admin Team to lab in twingate
  azure-lab/networking/main.tf
  modules/twingate/network/main.tf
  modules/twingate/network/variables.tf
Due: pipelines/networking-ci.yml

Assign access groups using a list of group IDs
  modules/twingate/network/main.tf
Due: none

Test
  azure-lab/networking/main.tf
  modules/twingate/network/main.tf
Due: pipelines/networking-ci.yml

Twingate Network module updated to support Iterating Over Each Group
  azure-lab/networking/main.tf
  modules/twingate/network/main.tf
  modules/twingate/network/variables.tf
Due: pipelines/networking-ci.yml

Pipelines updated with plan stage
  pipelines/compute-cd.yml
  pipelines/database-cd.yml
  pipelines/devops-cd.yml
  pipelines/storage-cd.yml
Due: none

Removing Empty Secrets compute
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/main.tf
  modules/azurerm/compute/vm/windows/outputs.tf
  modules/azurerm/compute/vm/windows/provider.tf
  modules/azurerm/compute/vm/windows/variables.tf
Due: pipelines/compute-ci.yml

Removed Empty Secrets from Database
  azure-lab/database/main.tf
Due: pipelines/database-ci.yml

Removed Empty Secrets and Variables Groups from DevOps
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Removed Empty secrets from networking
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Removing Empty Secrets and Variable Groups from Security
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

removed Empty Secrets from storage
  azure-lab/storage/main.tf
Due: pipelines/storage-ci.yml

updated Security Pipeline to support Approval Process
  pipelines/security-cd.yml
Due: none

switching vm to management subnet
  azure-lab/compute/env/lab.tfvars
  azure-lab/compute/main.tf
  azure-lab/compute/variables.tf
Due: pipelines/compute-ci.yml

adding compute subnet to Twingate
  azure-lab/compute/main.tf
  azure-lab/networking/main.tf
Due: pipelines/compute-ci.yml, pipelines/networking-ci.yml

Troubleshooting RDP/WinRM
  azure-lab/compute/main.tf
  modules/azurerm/compute/vm/windows/main.tf
  modules/azurerm/compute/vm/windows/scripts/custom_data.ps1
Due: pipelines/compute-ci.yml

Twingate Reset
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Adding Twingate back with ACI connection to compute subnet
  azure-lab/networking/main.tf
  modules/azurerm/container/group/main.tf
  modules/azurerm/container/group/variables.tf
Due: pipelines/networking-ci.yml

subnet_id = module.lab_vnet.subnet_ids["compute"]
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Deploying Test VM
  azure-lab/compute/main.tf
  azure-lab/networking/main.tf
Due: pipelines/compute-ci.yml, pipelines/networking-ci.yml

"Microsoft.Network/virtualNetworks/subnets/action",
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Connectivity Working. Pivoting to Domain Controller Setup
  azure-lab/compute/main.tf
  azure-lab/server-build/README.md
Due: pipelines/compute-ci.yml

Testing Server Build with DSC
  azure-lab/compute/main.tf
  azure-lab/image-bakery/windows/dsc/Base.ps1
  azure-lab/image-bakery/windows/dsc/WebServer.ps1
  modules/azurerm/compute/vm/windows/dsc/CreateDC.ps1
  modules/azurerm/compute/vm/windows/dsc/JoinDomain.ps1
  modules/azurerm/compute/vm/windows/scripts/Configure-DSC.ps1
  modules/azurerm/compute/vm/windows/scripts/FormatDisks.ps1
  modules/azurerm/compute/vm/windows/scripts/Post-Config.ps1
  modules/azurerm/compute/vm/windows/scripts/Pre-Config.ps1
  modules/azurerm/compute/vm/windowsnew/dsc/CreateDC.ps1
  modules/azurerm/compute/vm/windowsnew/dsc/DSC-Configuration.ps1
  modules/azurerm/compute/vm/windowsnew/dsc/JoinDomain.ps1
  modules/azurerm/compute/vm/windowsnew/main.tf
  modules/azurerm/compute/vm/windowsnew/outputs.tf
  modules/azurerm/compute/vm/windowsnew/provider.tf
  modules/azurerm/compute/vm/windowsnew/scripts/Configure-DSC.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/FormatDisks.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/Post-Config.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/Pre-Config.ps1
  modules/azurerm/compute/vm/windowsnew/scripts/custom_data.ps1
  modules/azurerm/compute/vm/windowsnew/variables.tf
Due: pipelines/compute-ci.yml

Setting update Windows Core based Build agent
  azure-lab/compute/main.tf
Due: pipelines/compute-ci.yml

adding windows-2025-base-ci
  azure-lab/devops/main.tf
  azure-lab/image-bakery/windows/variables/windows-2019-base.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2022-base.pkrvars.hcl
  azure-lab/image-bakery/windows/variables/windows-2025-base.pkrvars.hcl
  pipelines/packer/README.md
  pipelines/packer/templates/template-packer-cd.yml
  pipelines/packer/templates/template-packer-ci.yml
  pipelines/packer/templates/template-packer-validate.yml
  pipelines/packer/windows-2025-base-cd.yml
  pipelines/packer/windows-2025-base-ci.yml
Due: pipelines/devops-ci.yml

forgot template-packer-ci.yml
  pipelines/packer/templates/template-packer-ci.yml
Due: none

Adding windows-2025-base-cd
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Path conditions:
  pipelines/app-multi-ci.yml: any of: apps/appmulti
  pipelines/app-single-ci.yml: any of: apps/appsingle
  pipelines/compute-ci.yml: any of: azure-lab/compute
  pipelines/database-ci.yml: any of: azure-lab/database
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
  pipelines/storage-ci.yml: any of: azure-lab/storage
