Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml

pipelines/devops-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: devops-artifacts
      team: devops
      agentPool: Lab

pipelines/networking-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: networking-artifacts
      team: networking
      agentPool: Lab

pipelines/poc-ci.yml:
  name: POC-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/poc2-ci.yml:
  name: POC2-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/security-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: security-artifacts
      team: security
      agentPool: Lab

Adding DevOps Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Granting Vault Permissions to admin
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Cannot declare 2 times. Will remove for lab by commenting out.
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding devopsspobjectid
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/security-ci.yml

Adding DevOps SP access to DevOps Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding DevOps CD Pipeline
  azure-lab/devops/env/lab.tfvars
  azure-lab/devops/main.tf
  azure-lab/devops/variables.tf
  pipelines/devops-cd.yml
Due: pipelines/devops-ci.yml

Setting Azure Remote Backend
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Enabling DevOps CD
  azure-lab/devops/env/lab.tfvars
  pipelines/devops-cd.yml
Due: pipelines/devops-ci.yml

Starting Networking
  azure-lab/devops/env/lab.tfvars
  azure-lab/devops/main.tf
  azure-lab/devops/variables.tf
  azure-lab/networking/env/lab.tfvars
  azure-lab/networking/main.tf
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/security-ci.yml

forgot to add networking_sp_object_id to tfvars file
  azure-lab/security/env/lab.tfvars
Due: pipelines/security-ci.yml

Granting Networking DevOps SP access to Networking Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

switching to var.networking_sp_object_id
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding Networking CI
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding Github Service Connection to Networking Project
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

depends_on = [azuredevops_serviceendpoint_github.networking]
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

service_connection_id = azuredevops_serviceendpoint_github.networking.id
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Addomg networking networking_variable_group
  azure-lab/devops/main.tf
  azure-lab/networking/env/lab.tfvars
  azure-lab/networking/main.tf
  azure-lab/networking/variables.tf
  pipelines/networking-cd.yml
Due: pipelines/devops-ci.yml, pipelines/networking-ci.yml

Wrong RG Declared for Vault
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Cleanup of unneeded variables.
  azure-lab/devops/env/lab.tfvars
  azure-lab/networking/main.tf
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
Due: pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/security-ci.yml

More variable cleanup
  azure-lab/devops/variables.tf
  azure-lab/security/variables.tf
Due: pipelines/devops-ci.yml, pipelines/security-ci.yml

Adding Networking Release Pipeline (CD)
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding Networking remote backend
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Adding Network Watcher and Lab vnet
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Applying vnet
  azure-lab/networking/main.tf
  pipelines/networking-cd.yml
Due: pipelines/networking-ci.yml

Starting Twingate setup | Need ACR which belongs to compute. Setting up compute Project/Pipeline
  azure-lab/compute/README.md
  azure-lab/networking/env/lab.tfvars
  azure-lab/networking/main.tf
  azure-lab/networking/provider.tf
  azure-lab/networking/variables.tf
  server-build/README.md
Due: pipelines/networking-ci.yml

Adding Twingate to Variable group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding Compute Vault
  azure-lab/compute/env/dev.tfvars
  azure-lab/compute/env/lab.tfvars
  azure-lab/compute/env/prod.tfvars
  azure-lab/compute/env/qa.tfvars
  azure-lab/compute/env/test.tfvars
  azure-lab/compute/main.tf
  azure-lab/compute/provider.tf
  azure-lab/compute/variables.tf
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/security-ci.yml

Applying Compute Vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Adding Compute Project | Github / Azure Service Connections
  azure-lab/compute/env/lab.tfvars
  azure-lab/compute/main.tf
  azure-lab/compute/variables.tf
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

depends_on = [module.compute_project]
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding compute vault name to security vault
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
Due: pipelines/security-ci.yml

Granting AzureDevOps compute SP access to Compute Vault.
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Path conditions:
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
