Repository jonhill90/terraform-labs: changes, and which Azure pipelines are due for each by the changed paths.
All: pipelines/devops-ci.yml, pipelines/networking-ci.yml, pipelines/poc-ci.yml, pipelines/poc2-ci.yml, pipelines/security-ci.yml

pipelines/devops-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: devops-artifacts
      team: devops
      agentPool: Lab

pipelines/networking-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: networking-artifacts
      team: networking
      agentPool: Lab

pipelines/poc-ci.yml:
  name: POC-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/poc2-ci.yml:
  name: POC2-CI-$(Build.SourceBranchName)-$(Build.BuildId)
  pool:
    name: Lab
  stages:
  - stage: Build
    displayName: Build Stage
    jobs:
    - job: Build
      displayName: Prepare Terraform Artifacts
      steps:
      - checkout: self
        fetchDepth: 1
      - task: CopyFiles@2
  ...

pipelines/security-ci.yml:
  pool:
    name: Lab
  extends:
    template: templates/template-terraform-ci.yml
    parameters:
      artifactName: security-artifacts
      team: security
      agentPool: Lab

Adding Compute Variable Group to Compute Project
  azure-lab/devops/env/lab.tfvars
  azure-lab/devops/main.tf
  azure-lab/devops/variables.tf
Due: pipelines/devops-ci.yml

Addking "computespobjectid" to security DevOps variable group
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

depends_on = [module.compute_vault, module.security_variable_group]
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

removing compute sp vault access until variable is set in variable group
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

Readding Compute SP vault access
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

applying compute_variable_group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

computevaultname?
  azure-lab/devops/main.tf
  pipelines/compute-ci.yml
Due: pipelines/devops-ci.yml

commenting data "azurerm_key_vault" "compute"
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

project_id = module.compute_project.devops_project_id
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Applying Variable Group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

resource_group_name = "Security"
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding compute release pipeline (CD)
  azure-lab/devops/main.tf
  pipelines/compute-cd.yml
Due: pipelines/devops-ci.yml

Adding AzureRM backend to compute
  azure-lab/compute/main.tf
Due: none

Starting ACR
  azure-lab/compute/env/lab.tfvars
  azure-lab/compute/main.tf
  azure-lab/compute/variables.tf
  pipelines/compute-cd.yml
Due: none

adding acr name to variable group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Applying ACR
  azure-lab/compute/main.tf
Due: none

Testing Twingate Image Push
  azure-lab/compute/main.tf
Due: none

remove image push
  azure-lab/compute/main.tf
Due: none

Adding Twingate Groups and Network
  azure-lab/networking/main.tf
  azure-lab/networking/provider.tf
Due: pipelines/networking-ci.yml

Removing Azure Container Registry from Compute
  azure-lab/compute/main.tf
Due: none

adding acr to Networking
  azure-lab/networking/env/lab.tfvars
  azure-lab/networking/main.tf
  azure-lab/networking/variables.tf
Due: pipelines/networking-ci.yml

Add ACR to Networking Variable Group
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

applying ACR
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Image Push
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Deploying Twingate ACG
  azure-lab/networking/main.tf
Due: pipelines/networking-ci.yml

Adding Application pipelines
  pipelines/app-multi-cd.yml
  pipelines/app-multi-ci.yml
  pipelines/app-single-cd.yml
  pipelines/app-single-ci.yml
Due: none

Adding Staged Pipeline and AppSingle/AppMulti examples
  apps/appmulti/env/dev.tfvars
  apps/appmulti/env/prod.tfvars
  apps/appmulti/env/test.tfvars
  apps/appmulti/main.tf
  apps/appmulti/outputs.tf
  apps/appmulti/provider.tf
  apps/appmulti/variables.tf
  apps/appsingle/env/lab.tfvars
  apps/appsingle/main.tf
  apps/appsingle/outputs.tf
  apps/appsingle/provider.tf
  apps/appsingle/variables.tf
  pipelines/app-single-cd.yml
Due: none

Creating Database Project
  apps/appsingle/provider.tf
  azure-lab/database/env/dev.tfvars
  azure-lab/database/env/lab.tfvars
  azure-lab/database/env/prod.tfvars
  azure-lab/database/env/qa.tfvars
  azure-lab/database/env/test.tfvars
  azure-lab/database/main.tf
  azure-lab/database/provider.tf
  azure-lab/database/variables.tf
  azure-lab/devops/main.tf
  pipelines/database-cd.yml
  pipelines/database-ci.yml
Due: pipelines/devops-ci.yml

Prep for database vault
  azure-lab/security/main.tf
Due: pipelines/security-ci.yml

planning vault
  azure-lab/security/env/lab.tfvars
  azure-lab/security/main.tf
  azure-lab/security/variables.tf
  pipelines/security-cd.yml
Due: pipelines/security-ci.yml

forgot to add database_vault_name = "__databasevaultname__"
  azure-lab/security/env/lab.tfvars
Due: pipelines/security-ci.yml

applying vault
  pipelines/security-cd.yml
Due: none

prep for Database CI
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

database_vault_name
  azure-lab/devops/env/lab.tfvars
  azure-lab/devops/variables.tf
Due: pipelines/devops-ci.yml

adding Database Variable Group and CI
  azure-lab/database/env/lab.tfvars
  azure-lab/database/main.tf
  azure-lab/database/variables.tf
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

wrong project declared project_id = module.database_project.devops_project_id
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Adding Database CD Pipeline
  azure-lab/devops/main.tf
  pipelines/database-cd.yml
Due: pipelines/devops-ci.yml

Database Plan
  azure-lab/database/main.tf
Due: none

Database Apply
  pipelines/database-cd.yml
Due: none

Creating Applications Project
  azure-lab/devops/main.tf
Due: pipelines/devops-ci.yml

Path conditions:
  pipelines/devops-ci.yml: any of: azure-lab/devops
  pipelines/networking-ci.yml: any of: azure-lab/networking
  pipelines/poc-ci.yml: any of: poc
  pipelines/poc2-ci.yml: any of: poc2
  pipelines/security-ci.yml: any of: azure-lab/security
